html {
	font-size: 18px;
	font-family: Helvetica;
	width: 100%;
}
.main {
	width: 100vw;
	background-image: url("../images/mainback.jpeg");	
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
}
header {
	background-color: black;
	height: 2.32rem;
}
.header {
	display: flex;
	width: 960px;
	margin: auto;
	background-color: black;
	height: 2.32rem;
}
.header img {
	height: 1.5rem;
	padding-top: 0.41rem;
	padding-bottom: 0.41rem;
	margin-left: 0.5rem;
}
.header span {
	font-size: 1rem;
	font-family: Helvetica;
	color: white;
	margin-left: 1rem;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
}
.headline {
	width: 960px;
	margin: auto;
}
.blackbox {
	width: 20rem;
	align-content: center;
	position: relative;
	color: white;
	background-color: black;
	padding: 2rem 3rem;
	margin-top: 9rem;
}
.blackbox span {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;   
}
.blackbox p {
	font-family: Helvetica;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0.25rem;
}
.sitecontainer {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	margin-top: 3rem;
}
nav {
	background-color: firebrick;
	height: 2.32rem;
	width: 100vw;
}
nav ul {
	width: 960px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 2.32rem;
}
nav li {
	display: inline;
	color: white;
}
.images {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}
.pen {
	width: 30%;
}
.pen-image {
	display: flex;
	height: 9rem;
	border: 4px solid black;
	padding: 2rem 0;
	justify-content: center;
	align-items: center;
}
.pen-image img {
	max-width: 8rem;
}
.watch {
	width: 30%;
}
.watch-image {
	display: flex;
	height: 9rem;
	border: 4px solid black;
	padding: 2rem 0;
	justify-content: center;
	align-items: center;
}
.watch-image img {
	max-width: 8rem;
}
.glasses {
	width: 30%;	
}
.glasses-image {
	display: flex;
	height: 9rem;
	border: 4px solid black;
	padding: 2rem 0;
	justify-content: center;
	align-items: center;
}
.glasses-image img {
	max-width: 8rem;
}
span.description {
    background-color: black;
    color: white;
    padding: 0.5rem 0;
    display: block;
    text-align: center;
    width: 100%;
}
.random {
	display: flex;
	justify-content: space-between;
	max-width: 960px;
	margin-bottom: 4rem;
}
.location {
	display: flex;
	flex-direction: column;
	width: 35%;
}
.location-text {
	background-color: black;
}
.location-text span {
	display: block;
	color: white;
	padding: 1rem 0 1rem 2rem;
}
.hours {
	display: flex;
	flex-direction: column;
	width: 35%;
}
.hours-text {
	background-color: black;
}
.hours-text span {
	display: block;
	color: white;
	padding: 1rem 0 1rem 2rem;
}
footer {
	background-color: black;
	color: white;
	height: 5rem;
}
.copyright {
	display: flex;
	width: 960px;
	margin: auto;
	height: 5rem;
	align-items: center;
}















