body {
	padding: 0;
	margin: 0;
}
html {
	font-size: 18px;
	width: 100%;
}
.header {
	display: flex;
	background-color: black;
	height: 2.32rem;
}
.header img {
	height: 1.5rem;
	padding-top: 0.41rem;
	padding-bottom: 0.41rem;
	margin-left: 0.5rem;
}
.header span {
	font-size: 1rem;
	font-family: Helvetica;
	color: white;
	margin-left: 1rem;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
}
.bigpic {
	background-image: url("../images/mainback.jpeg");	
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	width: 100vw;
	position: absolute;
}
.blackbox {
	width: 20rem;
	align-content: center;
	position: relative;
	color: white;
	background-color: black;
	padding: 2rem 3rem;
	margin-top: 9rem;
}
.blackbox span {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;   
}
.blackbox p {
	font-family: Helvetica;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0.25rem;
}
.middle {
	display: inline-flex;
}












